* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    color: #444;
    scroll-behavior: smooth;
}

header {
    color: #fff;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/hero.jpg);
    background-size: cover;
}

nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

p {
    font-family: 'Roboto Mono', sans-serif;
    line-height: 1.6;
    color: #FA3308;
}

h1 {
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.hero-info {
    text-align: center;
    margin-top: 64px;
}

.cta-btns {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 44px;
}

.get-to-know {
    color: #FA3308;
    text-decoration: none;
    padding: 12px 24px;
    transition: all .2s;
}

.get-to-know:hover {
    color: #fff;
    text-decoration: underline;
}

.download-cv {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    border: 3px solid #FA3308;
    padding: 12px 24px;
    transition: all .2s;
}

.download-cv:hover {
    border: none;
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
}

.download-cv svg {
    width: 20px;
    stroke-width: 2px;
    transition: transform .3s;
}

.download-cv:hover svg {
    transform: translateY(5px);
}